contract disassembler {

    mapping(bytes4 => uint8) public supportsInterface

    function mintingFinished() public return (var0)
    {
        return(uint8((sload(0x9) / SHL(0xA0,0x1))));
    }

    function name() public return (var0,var1)
    {
        mstore(0x40,(0x20 + (0x80 + (0x20 * ((((sload(0x0) & ((((sload(0x0) & 0x1) == 0) * 0x100) + ~0x0)) / 0x2) + 0x1F) / 0x20)))));
        mstore(0x80,((sload(0x0) & ((((sload(0x0) & 0x1) == 0) * 0x100) + ~0x0)) / 0x2));
        var8 = ((sload(0x0) & ((((sload(0x0) & 0x1) == 0) * 0x100) + ~0x0)) / 0x2);
        if (((sload(0x0) & ((((sload(0x0) & 0x1) == 0) * 0x100) + ~0x0)) / 0x2)) 
        {
            if ((0x1F < var8)) 
            {
                temp1 = (0xA0 + var8);
                var6 = temp1;
                mstore(0x0,0x0);
                temp2 = keccak256(0x0,0x20);
                var8 = 0xA0;
                var7 = temp2;
label_00000A08:
                mstore(var8,sload(var7));
                var7 = (0x1 + var7);
                var8 = (0x20 + var8);
                if ((var6 > var8)) 
                {
                    goto label_00000A08;
                }
                else
                {
                    temp4 = (var6 + (0x1F & (var8 - var6)));
label_00000A25:
                    return(var0,var3);
                }
            }
            else
            {
                mstore(0xA0,((sload(0x0) / 0x100) * 0x100));
                goto label_00000A25;
            }
        }
        else
        {
            return(var0,0x80);
        }
    }

    function approve( address arg0,uint256 arg1) public return (var0)
    {
        var6 = func_00001275();
        var4 = func_00001279(var6,arg0,arg1);
        return(0x1);
    }

    function transferAndCall( address arg0,uint256 arg1) public return (var0)
    {
        mstore(0x40,0xA0);
        mstore(0x80,0x0);
        var10 = many_msg_babbage(arg0,arg1);
        require(var10);
        var10 = func_000014CD(msg.sender,arg0,arg1,0x80);
        require(var10);
        return(0x1);
    }

    uint256 public totalSupply;

    function gasprice_bit_ether( int128 arg0) public return (var0)
    {
        var2 = arg0;
        var3 = arg1;
        var4 = arg2;
        var7 = uint8((sload(0x9) / SHL(0xA8,0x1)));
        if (uint8((sload(0x9) / SHL(0xA8,0x1)))) 
        {
label_00000A96:
            require(var7);
            var7 = func_00001365(var2,var3,var4);
            return(var7);
        }
        else
        {
            var7 = isOperator(arg0);
            goto label_00000A96;
        }
    }

    function FUNC_2AB6F8DB() public return ()
    {
        var1 = func_000013E3(msg.sender);
        return();
    }

    function removeMinter( address arg0) public return ()
    {
        var3 = isOwner();
        if (var3) 
        {
            var2 = func_0000142B(arg0);
            return();
        }
        else
        {
            mstore(0x80,SHL(0xE5,0x461BCD));
            mstore(0x84,0x20);
            mstore(0xA4,0x20);
            temp43 = mload(0x0);
            callcodecopy(0x0,0x2060,0x20);
            temp42 = mload(0x0);
            mstore(0x0,temp43);
            mstore(0xC4,temp42);
            revert(0x80,0x64);
        }
    }

    uint8 public decimals;

    function approveAndCall( address arg0,uint256 arg1) public return (var0)
    {
        mstore(0x40,0xA0);
        mstore(0x80,0x0);
        var10 = approve(arg0,arg1);
        var10 = 0xBB6;
        var15 = func_00001CCF(((SHL(0xA0,0x1) - 0x1) & arg0));
        if (var15) 
        {
            mstore(0xA0,SHL(0xE4,0x7B04A2D));
            mstore(0xA4,msg.sender);
            mstore(0xC4,arg1);
            mstore(0xE4,0x60);
            temp44 = mload(0x80);
            mstore(0x104,temp44);
            temp45 = mload(0x80);
            var16 = (arg0 & (SHL(0xA0,0x1) - 0x1));
            var23 = 0x124;
            var25 = temp45;
            var26 = temp45;
            var27 = 0x124;
            var28 = 0xA0;
            var29 = 0x0;
label_000019BA:
            if ((var26 < var29)) 
            {
                var23 = (var25 + var23);
                var24 = (0x1F & var25);
                if ((0x1F & var25)) 
                {
                    temp48 = mload((var23 - var24));
                    mstore((var23 - var24),(~(EXP(0x100,(0x20 - var24)) - 0x1) & temp48));
                    temp49 = (0x20 + (var23 - var24));
                    var19 = 0x20;
                    var20 = 0xA0;
                    var21 = (temp49 - 0xA0);
                    var22 = 0xA0;
                    var23 = 0x0;
                    var24 = var16;
                    if (extcodesize(var16)) 
                    {
                        goto label_00001A20;
                    }
                    else
                    {
                        goto label_00001A1C;
                    }
                }
                else
                {
                    var19 = 0x20;
                    var20 = 0xA0;
                    var21 = (var23 - 0xA0);
                    var22 = 0xA0;
                    var23 = 0x0;
                    var24 = var16;
                    var25 = (extcodesize(var16) == 0);
                    if (extcodesize(var16)) 
                    {
label_00001A20:
                        var19 = var24.call.value(var23)(var22,var21,var20,var19);
                        var19 = (var19 == 0);
                        if (var19) 
                        {
                            returndatacopy(0x0,0x0,returndatasize);
                            revert(0x0,returndatasize);
                        }
                        else
                        {
                            require((0x20 < returndatasize));
                            temp47 = mload(0xA0);
                            var10 = (SHL(0xE4,0x7B04A2D) == (~(SHL(0xE0,0x1) - 0x1) & temp47));
label_00000BB6:
                            require(var10);
                            return(0x1);
                        }
                    }
                    else
                    {
label_00001A1C:
                        revert(0x0,0x0);
                    }
                }
            }
            else
            {
                temp50 = mload((var29 + var28));
                mstore((var29 + var27),temp50);
                var29 = (0x20 + var29);
                goto label_000019BA;
            }
        }
        else
        {
            var10 = 0x0;
            goto label_00000BB6;
        }
    }

    uint256 public cap;

    function increaseAllowance( address arg0,uint256 arg1) public return (var0)
    {
        var6 = func_00001275();
        var12 = func_00001275();
        var8 = func_00001473(allowance[((SHL(0xA0,0x1) - 0x1) & var12)][(arg0 & (SHL(0xA0,0x1) - 0x1))],arg1);
        var4 = func_00001279(var6,arg0,var8);
        return(0x1);
    }

    function mint( address arg0,uint256 arg1) public return (var0)
    {
        require(!uint8((sload(0x9) / SHL(0xA0,0x1))));
        var10 = func_00001275();
        var9 = isMinter(var10);
        if (var9) 
        {
            var15 = totalSupply();
            var13 = func_00001473(var15,arg1);
            if ((cap > var13)) 
            {
                if ((arg0 & (SHL(0xA0,0x1) - 0x1))) 
                {
                    var15 = func_00001473(totalSupply,arg1);
                    totalSupply = var15;
                    var15 = func_00001473(balanceOf[(arg0 & (SHL(0xA0,0x1) - 0x1))],arg1);
                    balanceOf[(arg0 & (SHL(0xA0,0x1) - 0x1))] = var15;
                    mstore(0x80,arg1);
                    log(0x80,0x20,0xDDF252AD1BE2C89B69C2B068FC378DAA952BA7F163C4A11628F55A4DF523B3EF,0x0,(arg0 & (SHL(0xA0,0x1) - 0x1)));
                    return(0x1);
                }
                else
                {
                    mstore(0x80,SHL(0xE5,0x461BCD));
                    mstore(0x84,0x20);
                    mstore(0xA4,0x1F);
                    mstore(0xC4,0x45524332303A206D696E7420746F20746865207A65726F206164647265737300);
                    revert(0x80,0x64);
                }
            }
            else
            {
                mstore(0x80,SHL(0xE5,0x461BCD));
                mstore(0x84,0x20);
                mstore(0xA4,0x19);
                mstore(0xC4,0x45524332304361707065643A2063617020657863656564656400000000000000);
                revert(0x80,0x64);
            }
        }
        else
        {
            mstore(0x80,SHL(0xE5,0x461BCD));
            mstore(0x84,0x20);
            mstore(0xA4,0x30);
            callcodecopy(0xC4,0x1FE7,0x30);
            revert(0x80,0x84);
        }
    }

    function collate_propagate_storage( bytes16 arg0) public return ()
    {
        var4 = func_00001275();
        if ((var4 & (SHL(0xA0,0x1) - 0x1))) 
        {
            mstore(0x40,0xE0);
            mstore(0x80,0x22);
            callcodecopy(0xA0,0x1F57,0x22);
            var6 = func_00001899(balanceOf[(var4 & (SHL(0xA0,0x1) - 0x1))],arg0,0x80);
            balanceOf[(var4 & (SHL(0xA0,0x1) - 0x1))] = var6;
            var6 = func_00001D7E(totalSupply,arg0);
            totalSupply = var6;
            mstore(0x120,arg0);
            log(0x120,0x20,0xDDF252AD1BE2C89B69C2B068FC378DAA952BA7F163C4A11628F55A4DF523B3EF,(var4 & (SHL(0xA0,0x1) - 0x1)),0x0);
            return();
        }
        else
        {
            mstore(0x80,SHL(0xE5,0x461BCD));
            mstore(0x84,0x20);
            mstore(0xA4,0x21);
            callcodecopy(0xC4,0x20C6,0x21);
            revert(0x80,0x84);
        }
    }

    function transferEnabled() public return (var0)
    {
        return(uint8((sload(0x9) / SHL(0xA8,0x1))));
    }

    function isOperator( address arg0) public return (var0)
    {
        var18 = func_0000174E(0x8,arg0);
        return(var18);
    }

    mapping(address => uint256) public balanceOf

    function renounceOwnership() public return ()
    {
        var2 = isOwner();
        if (var2) 
        {
            log(0x80,0x0,0x8BE0079C531659141344CD1FD0A4F28419497F9722A3DAAFE3B4186F6B6457E0,((SHL(0xA0,0x1) - 0x1) & sload(0x9)),0x0);
            sstore(0x9,(~(SHL(0xA0,0x1) - 0x1) & sload(0x9)));
            return();
        }
        else
        {
            mstore(0x80,SHL(0xE5,0x461BCD));
            mstore(0x84,0x20);
            mstore(0xA4,0x20);
            temp61 = mload(0x0);
            callcodecopy(0x0,0x2060,0x20);
            temp60 = mload(0x0);
            mstore(0x0,temp61);
            mstore(0xC4,temp60);
            revert(0x80,0x64);
        }
    }

    function burnFrom( address arg0,uint256 arg1) public return ()
    {
        var6 = func_00001652(arg0,arg1);
        var9 = func_00001275();
        mstore(0x40,0xE0);
        mstore(0x80,0x24);
        callcodecopy(0xA0,0x20A2,0x24);
        var15 = func_00001275();
        temp65 = ((SHL(0xA0,0x1) - 0x1) & var15);
        var10 = func_00001899(allowance[(arg0 & (SHL(0xA0,0x1) - 0x1))][temp65],var6,0x80);
        var6 = func_00001279(arg0,var9,var10);
        return();
    }

    function finishMinting() public return ()
    {
        var2 = isOwner();
        if (var2) 
        {
            require(!uint8((sload(0x9) / SHL(0xA0,0x1))));
            sstore(0x9,(SHL(0xA0,0x1) | (~SHL(0xA0,0xFF) & sload(0x9))));
            log(0x80,0x0,0xAE5184FBA832CB2B1F702ACA6117B8D265EAF03AD33EB133F19DDE0F5920FA08);
            return();
        }
        else
        {
            mstore(0x80,SHL(0xE5,0x461BCD));
            mstore(0x84,0x20);
            mstore(0xA4,0x20);
            temp68 = mload(0x0);
            callcodecopy(0x0,0x2060,0x20);
            temp67 = mload(0x0);
            mstore(0x0,temp68);
            mstore(0xC4,temp67);
            revert(0x80,0x64);
        }
    }

    function FUNC_8980F11F( uint256 arg0,uint256 arg1) public return ()
    {
        var4 = isOwner();
        if (var4) 
        {
            var6 = owner();
            mstore(0x80,SHL(0xE0,0xA9059CBB));
            mstore(0x84,((SHL(0xA0,0x1) - 0x1) & ((SHL(0xA0,0x1) - 0x1) & var6)));
            mstore(0xA4,arg1);
            var12 = ((SHL(0xA0,0x1) - 0x1) & arg0);
            require(extcodesize(((SHL(0xA0,0x1) - 0x1) & arg0)));
            var7 = var12.call(0x80,0x44,0x80,0x20);
            var7 = (var7 == 0);
            if (var7) 
            {
                returndatacopy(0x0,0x0,returndatasize);
                revert(0x0,returndatasize);
            }
            else
            {
                require((0x20 < returndatasize));
                return();
            }
        }
        else
        {
            mstore(0x80,SHL(0xE5,0x461BCD));
            mstore(0x84,0x20);
            mstore(0xA4,0x20);
            temp71 = mload(0x0);
            callcodecopy(0x0,0x2060,0x20);
            temp70 = mload(0x0);
            mstore(0x0,temp71);
            mstore(0xC4,temp70);
            revert(0x80,0x64);
        }
    }

    function owner() public return (var0)
    {
        return(((SHL(0xA0,0x1) - 0x1) & sload(0x9)));
    }

    function isOwner() public return (var0)
    {
        var6 = func_00001275();
        temp41 = ((SHL(0xA0,0x1) - 0x1) & var6);
        return((temp41 == ((SHL(0xA0,0x1) - 0x1) & sload(0x9))));
    }

    function symbol() public return (var0,var1)
    {
        mstore(0x40,(0x20 + (0x80 + (0x20 * ((((sload(0x1) & ((((0x1 & sload(0x1)) == 0) * 0x100) + ~0x0)) / 0x2) + 0x1F) / 0x20)))));
        mstore(0x80,((sload(0x1) & ((((0x1 & sload(0x1)) == 0) * 0x100) + ~0x0)) / 0x2));
        var8 = ((sload(0x1) & ((((0x1 & sload(0x1)) == 0) * 0x100) + ~0x0)) / 0x2);
        if (((sload(0x1) & ((((0x1 & sload(0x1)) == 0) * 0x100) + ~0x0)) / 0x2)) 
        {
            if ((0x1F < var8)) 
            {
                temp72 = (0xA0 + var8);
                var6 = temp72;
                mstore(0x0,0x1);
                temp73 = keccak256(0x0,0x20);
                var8 = 0xA0;
                var7 = temp73;
label_00000A08:
                mstore(var8,sload(var7));
                var7 = (0x1 + var7);
                var8 = (0x20 + var8);
                if ((var6 > var8)) 
                {
                    goto label_00000A08;
                }
                else
                {
                    temp75 = (var6 + (0x1F & (var8 - var6)));
label_00000A25:
                    return(var0,var3);
                }
            }
            else
            {
                mstore(0xA0,((sload(0x1) / 0x100) * 0x100));
                goto label_00000A25;
            }
        }
        else
        {
            return(var0,0x80);
        }
    }

    function addMinter( address arg0) public return ()
    {
        var4 = func_00001275();
        var3 = isMinter(var4);
        if (var3) 
        {
            var4 = func_00001DC0(0x6,arg0);
            log(0x80,0x0,0x6AE172837EA30B801FBFCDD4108AA1D5BF8FF775444FD70256B44E6BF3DFC3F6,(var4 & (SHL(0xA0,0x1) - 0x1)));
            return();
        }
        else
        {
            mstore(0x80,SHL(0xE5,0x461BCD));
            mstore(0x84,0x20);
            mstore(0xA4,0x30);
            callcodecopy(0xC4,0x1FE7,0x30);
            revert(0x80,0x84);
        }
    }

    function renounceMinter() public return ()
    {
        var3 = func_00001275();
        var1 = func_0000142B(var3);
        return();
    }

    function addOperator( address arg0) public return ()
    {
        var3 = isOperator(msg.sender);
        require(var3);
        var4 = func_00001DC0(0x8,arg0);
        log(0x80,0x0,0xAC6FA858E9350A46CEC16539926E0FDE25B7629F84B5A72BFFAAE4DF888AE86D,(var4 & (SHL(0xA0,0x1) - 0x1)));
        return();
    }

    function decreaseAllowance( address arg0,uint256 arg1) public return (var0)
    {
        var6 = func_00001275();
        mstore(0x40,0xE0);
        mstore(0x80,0x25);
        callcodecopy(0xA0,0x2130,0x25);
        var13 = func_00001275();
        var8 = func_00001899(allowance[((SHL(0xA0,0x1) - 0x1) & var13)][(arg0 & (SHL(0xA0,0x1) - 0x1))],arg1,0x80);
        var4 = func_00001279(var6,arg0,var8);
        return(0x1);
    }

    function many_msg_babbage( bytes1 arg0) public return (var0)
    {
        var11 = arg0;
        var12 = arg1;
        var14 = msg.sender;
        var15 = uint8((sload(0x9) / SHL(0xA8,0x1)));
        if (uint8((sload(0x9) / SHL(0xA8,0x1)))) 
        {
label_00000FFE:
            require(var15);
            var15 = func_00001930(var11,var12);
            return(var15);
        }
        else
        {
            var15 = isOperator(var14);
            goto label_00000FFE;
        }
    }

    function isMinter( address arg0) public return (var0)
    {
        var12 = func_0000174E(0x6,arg0);
        return(var12);
    }

    function removeOperator( address arg0) public return ()
    {
        var3 = isOwner();
        if (var3) 
        {
            var2 = func_000013E3(arg0);
            return();
        }
        else
        {
            mstore(0x80,SHL(0xE5,0x461BCD));
            mstore(0x84,0x20);
            mstore(0xA4,0x20);
            temp80 = mload(0x0);
            callcodecopy(0x0,0x2060,0x20);
            temp79 = mload(0x0);
            mstore(0x0,temp80);
            mstore(0xC4,temp79);
            revert(0x80,0x64);
        }
    }

    function builtOn() public return (var0,var1)
    {
        mstore(0x40,(0x20 + (0x80 + (0x20 * ((((sload(0xB) & (~0x0 + (0x100 * ((sload(0xB) & 0x1) == 0)))) / 0x2) + 0x1F) / 0x20)))));
        mstore(0x80,((sload(0xB) & (~0x0 + (0x100 * ((sload(0xB) & 0x1) == 0)))) / 0x2));
        var7 = ((sload(0xB) & (~0x0 + (0x100 * ((sload(0xB) & 0x1) == 0)))) / 0x2);
        if (((sload(0xB) & (~0x0 + (0x100 * ((sload(0xB) & 0x1) == 0)))) / 0x2)) 
        {
            if ((0x1F < var7)) 
            {
                temp81 = (0xA0 + var7);
                var5 = temp81;
                mstore(0x0,0xB);
                temp82 = keccak256(0x0,0x20);
                var7 = 0xA0;
                var6 = temp82;
label_000010E5:
                mstore(var7,sload(var6));
                var6 = (0x1 + var6);
                var7 = (0x20 + var7);
                if ((var5 > var7)) 
                {
                    goto label_000010E5;
                }
                else
                {
                    temp84 = (var5 + (0x1F & (var7 - var5)));
label_00001102:
                    return(var1,var2);
                }
            }
            else
            {
                mstore(0xA0,((sload(0xB) / 0x100) * 0x100));
                goto label_00001102;
            }
        }
        else
        {
            return(var1,0x80);
        }
    }

    function transferFromAndCall( address arg0,address arg1,uint256 arg2,bytes arg3) public return (var0)
    {
        var7 = gasprice_bit_ether(arg0,arg1,arg2);
        require(var7);
        var7 = func_000014CD(arg0,arg1,arg2,arg3);
        require(var7);
        return(0x1);
    }

    function transferFromAndCall( address arg0,address arg1,uint256 arg2) public return (var0)
    {
        // Please refer to main() for the functionality, Function Hash: D8FBE994 
    }

    mapping(address => mapping(address => uint256)) public allowance

    function enableTransfer() public return ()
    {
        var2 = isOwner();
        if (var2) 
        {
            sstore(0x9,(SHL(0xA8,0x1) | (~SHL(0xA8,0xFF) & sload(0x9))));
            log(0x80,0x0,0x75FCE015C314A132947A3E42F6AB79AB8E05397DABF35B4D742DEA228BBADC2D);
            return();
        }
        else
        {
            mstore(0x80,SHL(0xE5,0x461BCD));
            mstore(0x84,0x20);
            mstore(0xA4,0x20);
            temp102 = mload(0x0);
            callcodecopy(0x0,0x2060,0x20);
            temp101 = mload(0x0);
            mstore(0x0,temp102);
            mstore(0xC4,temp101);
            revert(0x80,0x64);
        }
    }

    function transferOwnership( address arg0) public return ()
    {
        var3 = isOwner();
        if (var3) 
        {
            if ((arg0 & (SHL(0xA0,0x1) - 0x1))) 
            {
                log(0x80,0x0,0x8BE0079C531659141344CD1FD0A4F28419497F9722A3DAAFE3B4186F6B6457E0,(sload(0x9) & (SHL(0xA0,0x1) - 0x1)),(arg0 & (SHL(0xA0,0x1) - 0x1)));
                sstore(0x9,(((SHL(0xA0,0x1) - 0x1) & arg0) | (~(SHL(0xA0,0x1) - 0x1) & sload(0x9))));
                return();
            }
            else
            {
                mstore(0x80,SHL(0xE5,0x461BCD));
                mstore(0x84,0x20);
                mstore(0xA4,0x26);
                callcodecopy(0xC4,0x1F79,0x26);
                revert(0x80,0x84);
            }
        }
        else
        {
            mstore(0x80,SHL(0xE5,0x461BCD));
            mstore(0x84,0x20);
            mstore(0xA4,0x20);
            temp104 = mload(0x0);
            callcodecopy(0x0,0x2060,0x20);
            temp103 = mload(0x0);
            mstore(0x0,temp104);
            mstore(0xC4,temp103);
            revert(0x80,0x64);
        }
    }

    function func_00001275() private return (var0)
    {
        return(msg.sender);
    }

    function func_00001279( uint256 arg0,uint256 arg1,uint256 arg2) private return (var0)
    {
        if ((arg0 & (SHL(0xA0,0x1) - 0x1))) 
        {
            if ((arg1 & (SHL(0xA0,0x1) - 0x1))) 
            {
                allowance[(arg0 & (SHL(0xA0,0x1) - 0x1))][(arg1 & (SHL(0xA0,0x1) - 0x1))] = arg2;
                mstore(0x80,arg2);
                log(0x80,0x20,0x8C5BE1E5EBEC7D5BD14F71427D1E84F3DD0314C0F7B2291E5B200AC8C7C3B925,(arg0 & (SHL(0xA0,0x1) - 0x1)),(arg1 & (SHL(0xA0,0x1) - 0x1)));
                return(var4);
            }
            else
            {
                mstore(0x80,SHL(0xE5,0x461BCD));
                mstore(0x84,0x20);
                mstore(0xA4,0x22);
                callcodecopy(0xC4,0x1F9F,0x22);
                revert(0x80,0x84);
            }
        }
        else
        {
            mstore(0x80,SHL(0xE5,0x461BCD));
            mstore(0x84,0x20);
            mstore(0xA4,0x24);
            callcodecopy(0xC4,0x210C,0x24);
            revert(0x80,0x84);
        }
    }

    function func_00001930( uint256 arg0,uint256 arg1) private return (var0)
    {
        var20 = func_00001275();
        if ((var20 & (SHL(0xA0,0x1) - 0x1))) 
        {
            if ((arg0 & (SHL(0xA0,0x1) - 0x1))) 
            {
                mstore(0x40,0x100);
                mstore(0xA0,0x26);
                callcodecopy(0xC0,0x1FC1,0x26);
                var23 = func_00001899(balanceOf[(var20 & (SHL(0xA0,0x1) - 0x1))],arg1,0xA0);
                balanceOf[(var20 & (SHL(0xA0,0x1) - 0x1))] = var23;
                var23 = func_00001473(balanceOf[(arg0 & (SHL(0xA0,0x1) - 0x1))],arg1);
                balanceOf[(arg0 & (SHL(0xA0,0x1) - 0x1))] = var23;
                mstore(0x100,arg1);
                log(0x100,0x20,0xDDF252AD1BE2C89B69C2B068FC378DAA952BA7F163C4A11628F55A4DF523B3EF,(var20 & (SHL(0xA0,0x1) - 0x1)),(arg0 & (SHL(0xA0,0x1) - 0x1)));
                return(0x1);
            }
            else
            {
                mstore(0xA0,SHL(0xE5,0x461BCD));
                mstore(0xA4,0x20);
                mstore(0xC4,0x23);
                callcodecopy(0xE4,0x1F34,0x23);
                revert(0xA0,0x84);
            }
        }
        else
        {
            mstore(0xA0,SHL(0xE5,0x461BCD));
            mstore(0xA4,0x20);
            mstore(0xC4,0x25);
            callcodecopy(0xE4,0x20E7,0x25);
            revert(0xA0,0x84);
        }
    }

    function func_00001899( uint256 arg0,uint256 arg1,uint256 arg2) private return (var0)
    {
        if ((arg0 > arg1)) 
        {
            return((arg0 - arg1));
        }
        else
        {
            mstore(0x100,SHL(0xE5,0x461BCD));
            mstore(0x104,0x20);
            temp16 = mload(arg2);
            mstore(0x124,temp16);
            var31 = 0x144;
            temp17 = mload(arg2);
            var33 = temp17;
            var34 = temp17;
            var35 = 0x144;
            var36 = (0x20 + arg2);
            var37 = 0x0;
label_000018D5:
            if ((var34 < var37)) 
            {
                var31 = (var33 + var31);
                var32 = (0x1F & var33);
                require((0x1F & var33));
                temp18 = mload((var31 - var32));
                mstore((var31 - var32),(~(EXP(0x100,(0x20 - var32)) - 0x1) & temp18));
                temp19 = (0x20 + (var31 - var32));
                revert(0x100,(temp19 - 0x100));
            }
            else
            {
                temp20 = mload((var37 + var36));
                mstore((var37 + var35),temp20);
                var37 = (0x20 + var37);
                goto label_000018D5;
            }
        }
    }

    function func_00001473( uint256 arg0,uint256 arg1) private return (var0)
    {
        var27 = (arg1 + arg0);
        if ((arg0 < (arg1 + arg0))) 
        {
            return(var27);
        }
        else
        {
            mstore(0x100,SHL(0xE5,0x461BCD));
            mstore(0x104,0x20);
            mstore(0x124,0x1B);
            mstore(0x144,0x536166654D6174683A206164646974696F6E206F766572666C6F770000000000);
            revert(0x100,0x64);
        }
    }

    function func_0000174E( uint256 arg0,uint256 arg1) private return (var0)
    {
        if ((arg1 & (SHL(0xA0,0x1) - 0x1))) 
        {
            return(uint8(mapping_arg0[((SHL(0xA0,0x1) - 0x1) & arg1)]));
        }
        else
        {
            mstore(0xA0,SHL(0xE5,0x461BCD));
            mstore(0xA4,0x20);
            mstore(0xC4,0x22);
            callcodecopy(0xE4,0x2080,0x22);
            revert(0xA0,0x84);
        }
    }

    function func_000014CD( uint256 arg0,uint256 arg1,uint256 arg2,uint256 arg3) private return (var0)
    {
        var16 = func_00001CCF(((SHL(0xA0,0x1) - 0x1) & arg1));
        if (var16) 
        {
            mstore(0xA0,SHL(0xE2,0x2229F297));
            mstore(0xA4,msg.sender);
            mstore(0xC4,((SHL(0xA0,0x1) - 0x1) & arg0));
            mstore(0xE4,arg2);
            mstore(0x104,0x80);
            temp26 = mload(arg3);
            mstore(0x124,temp26);
            temp27 = mload(arg3);
            var17 = (arg1 & (SHL(0xA0,0x1) - 0x1));
            var25 = 0x144;
            var27 = temp27;
            var28 = temp27;
            var29 = 0x144;
            var30 = (arg3 + 0x20);
            var31 = 0x0;
label_0000154F:
            if ((var28 < var31)) 
            {
                var25 = (var27 + var25);
                var26 = (0x1F & var27);
                if ((0x1F & var27)) 
                {
                    temp30 = mload((var25 - var26));
                    mstore((var25 - var26),(~(EXP(0x100,(0x20 - var26)) - 0x1) & temp30));
                    temp31 = (0x20 + (var25 - var26));
                    var20 = 0x20;
                    var21 = 0xA0;
                    var22 = (temp31 - 0xA0);
                    var23 = 0xA0;
                    var24 = 0x0;
                    var25 = var17;
                    if (extcodesize(var17)) 
                    {
                        goto label_000015B6;
                    }
                    else
                    {
                        goto label_000015B2;
                    }
                }
                else
                {
                    var20 = 0x20;
                    var21 = 0xA0;
                    var22 = (var25 - 0xA0);
                    var23 = 0xA0;
                    var24 = 0x0;
                    var25 = var17;
                    if (extcodesize(var17)) 
                    {
label_000015B6:
                        var20 = var25.call.value(var24)(var23,var22,var21,var20);
                        var20 = (var20 == 0);
                        if (var20) 
                        {
                            returndatacopy(0x0,0x0,returndatasize);
                            revert(0x0,returndatasize);
                        }
                        else
                        {
                            require((0x20 < returndatasize));
                            temp29 = mload(0xA0);
                            return((SHL(0xE2,0x2229F297) == (~(SHL(0xE0,0x1) - 0x1) & temp29)));
                        }
                    }
                    else
                    {
label_000015B2:
                        revert(0x0,0x0);
                    }
                }
            }
            else
            {
                temp32 = mload((var31 + var30));
                mstore((var31 + var29),temp32);
                var31 = (0x20 + var31);
                goto label_0000154F;
            }
        }
        else
        {
            return(0x0);
        }
    }

    function func_00001CCF( uint256 arg0) private return (var0)
    {
        var19 = extcodehash(arg0);
        var21 = extcodehash(arg0);
        if (extcodehash(arg0)) 
        {
            temp25 = ((0xC5D2460186F7233C927E7DB2DCC703C0E500B653CA82273B7BFAD8045D85A470 == var19) == 0);
            return(temp25);
        }
        else
        {
            return(var21);
        }
    }

    function func_00001365( uint256 arg0,uint256 arg1,uint256 arg2) private return (var0)
    {
        var11 = func_00001B0A(arg0,arg1,arg2);
        var14 = func_00001275();
        mstore(0x40,0xE0);
        mstore(0x80,0x28);
        callcodecopy(0xA0,0x2038,0x28);
        var20 = func_00001275();
        temp38 = ((SHL(0xA0,0x1) - 0x1) & var20);
        var15 = func_00001899(allowance[(arg0 & (SHL(0xA0,0x1) - 0x1))][temp38],arg2,0x80);
        var11 = func_00001279(arg0,var14,var15);
        return(0x1);
    }

    function func_00001B0A( uint256 arg0,uint256 arg1,uint256 arg2) private return (var0)
    {
        if ((arg0 & (SHL(0xA0,0x1) - 0x1))) 
        {
            if ((arg1 & (SHL(0xA0,0x1) - 0x1))) 
            {
                mstore(0x40,0xE0);
                mstore(0x80,0x26);
                callcodecopy(0xA0,0x1FC1,0x26);
                var16 = func_00001899(balanceOf[(arg0 & (SHL(0xA0,0x1) - 0x1))],arg2,0x80);
                balanceOf[(arg0 & (SHL(0xA0,0x1) - 0x1))] = var16;
                var16 = func_00001473(balanceOf[(arg1 & (SHL(0xA0,0x1) - 0x1))],arg2);
                balanceOf[(arg1 & (SHL(0xA0,0x1) - 0x1))] = var16;
                mstore(0xE0,arg2);
                log(0xE0,0x20,0xDDF252AD1BE2C89B69C2B068FC378DAA952BA7F163C4A11628F55A4DF523B3EF,(arg0 & (SHL(0xA0,0x1) - 0x1)),(arg1 & (SHL(0xA0,0x1) - 0x1)));
                return(var11);
            }
            else
            {
                mstore(0x80,SHL(0xE5,0x461BCD));
                mstore(0x84,0x20);
                mstore(0xA4,0x23);
                callcodecopy(0xC4,0x1F34,0x23);
                revert(0x80,0x84);
            }
        }
        else
        {
            mstore(0x80,SHL(0xE5,0x461BCD));
            mstore(0x84,0x20);
            mstore(0xA4,0x25);
            callcodecopy(0xC4,0x20E7,0x25);
            revert(0x80,0x84);
        }
    }

    function func_000013E3( uint256 arg0) private return (var0)
    {
        var3 = func_00001C68(0x8,arg0);
        log(0x80,0x0,0x80C0B871B97B595B16A7741C1B06FED0C6F6F558639F18CCBCE50724325DC40D,(var3 & (SHL(0xA0,0x1) - 0x1)));
        return(var1);
    }

    function func_00001C68( uint256 arg0,uint256 arg1) private return (var0)
    {
        var7 = func_0000174E(arg0,arg1);
        if (var7) 
        {
            mapping_arg0[((SHL(0xA0,0x1) - 0x1) & arg1)] = 0x0;
            return(var3);
        }
        else
        {
            mstore(0x80,SHL(0xE5,0x461BCD));
            mstore(0x84,0x20);
            mstore(0xA4,0x21);
            callcodecopy(0xC4,0x2017,0x21);
            revert(0x80,0x84);
        }
    }

    function func_0000142B( uint256 arg0) private return (var0)
    {
        var4 = func_00001C68(0x6,arg0);
        log(0x80,0x0,0xE94479A9F7E1952CC78F2D6BAAB678ADC1B772D936C6583DEF489E524CB66692,(var4 & (SHL(0xA0,0x1) - 0x1)));
        return(var2);
    }

    function func_00001D7E( uint256 arg0,uint256 arg1) private return (var0)
    {
        mstore(0x40,0x120);
        mstore(0xE0,0x1E);
        mstore(0x100,0x536166654D6174683A207375627472616374696F6E206F766572666C6F770000);
        var10 = func_00001899(arg0,arg1,0xE0);
        return(var10);
    }

    function func_00001652( uint256 arg0,uint256 arg1) private return (var0)
    {
        if ((arg0 & (SHL(0xA0,0x1) - 0x1))) 
        {
            mstore(0x40,0xE0);
            mstore(0x80,0x22);
            callcodecopy(0xA0,0x1F57,0x22);
            var10 = func_00001899(balanceOf[(arg0 & (SHL(0xA0,0x1) - 0x1))],arg1,0x80);
            balanceOf[(arg0 & (SHL(0xA0,0x1) - 0x1))] = var10;
            var10 = func_00001D7E(totalSupply,arg1);
            totalSupply = var10;
            mstore(0xE0,arg1);
            log(0xE0,0x20,0xDDF252AD1BE2C89B69C2B068FC378DAA952BA7F163C4A11628F55A4DF523B3EF,(arg0 & (SHL(0xA0,0x1) - 0x1)),0x0);
            return(var6);
        }
        else
        {
            mstore(0x80,SHL(0xE5,0x461BCD));
            mstore(0x84,0x20);
            mstore(0xA4,0x21);
            callcodecopy(0xC4,0x20C6,0x21);
            revert(0x80,0x84);
        }
    }

    function func_00001DC0( uint256 arg0,uint256 arg1) private return (var0)
    {
        var8 = func_0000174E(arg0,arg1);
        if (var8) 
        {
            mstore(0x80,SHL(0xE5,0x461BCD));
            mstore(0x84,0x20);
            mstore(0xA4,0x1F);
            mstore(0xC4,0x526F6C65733A206163636F756E7420616C72656164792068617320726F6C6500);
            revert(0x80,0x64);
        }
        else
        {
            mapping_arg0[((SHL(0xA0,0x1) - 0x1) & arg1)] = 0x1;
            return(var4);
        }
    }

    function main() public return ()
    {
        mstore(0x40,0x80);
        var0 = msg.value;
        require(!msg.value);
        if ((msg.data.length < 0x4)) 
        {
label_00000248:
            revert(0x0,0x0);
        }
        else
        {
            var0 = SHR(0xE0,msg.data(0x0));
            if ((0x79CC6790 > SHR(0xE0,msg.data(0x0)))) 
            {
                if ((0x3177029F > var0)) 
                {
                    if ((0x18160DDD > var0)) 
                    {

                        //ISSUE:COMMENT: Function supportsInterface()
                        if ((0x1FFC9A7 == var0)) 
                        {
                            require((0x20 < (msg.data.length - 0x4)));
                            var1 = supportsInterface((~(SHL(0xE0,0x1) - 0x1) & msg.data(0x4)));
label_00000274:
                            mstore(0x80,var1);
                            RETURN(0x80,0x20);
                        }

                        //ISSUE:COMMENT: Function mintingFinished()
                        else if ((0x5D2035B == var0)) 
                        {
                            var1 = mintingFinished();
                            goto label_00000274;
                        }

                        //ISSUE:COMMENT: Function name()
                        else if ((0x6FDDE03 == var0)) 
                        {
                            (var0,var1) = name();
label_00000298:
                            temp5 = mload(0x40);
                            mstore(temp5,0x20);
                            temp6 = mload(var1);
                            mstore((temp5 + 0x20),temp6);
                            temp7 = mload(var1);
                            var4 = (temp5 + 0x40);
                            var6 = temp7;
                            var7 = temp7;
                            var8 = (temp5 + 0x40);
                            var9 = (var1 + 0x20);
                            var10 = 0x0;
label_000002BA:
                            if ((var7 < var10)) 
                            {
                                var4 = (var6 + var4);
                                var5 = (0x1F & var6);
                                if ((0x1F & var6)) 
                                {
                                    temp9 = mload((var4 - var5));
                                    mstore((var4 - var5),(~(EXP(0x100,(0x20 - var5)) - 0x1) & temp9));
                                    temp10 = (0x20 + (var4 - var5));
                                    temp11 = mload(0x40);
                                    RETURN(temp11,(temp10 - temp11));
                                }
                                else
                                {
                                    temp8 = mload(0x40);
                                    RETURN(temp8,(var4 - temp8));
                                }
                            }
                            else
                            {
                                temp12 = mload((var10 + var9));
                                mstore((var10 + var8),temp12);
                                var10 = (0x20 + var10);
                                goto label_000002BA;
                            }
                        }

                        //ISSUE:COMMENT: Function approve()
                        else if ((0x95EA7B3 == var0)) 
                        {
                            require((0x40 < (msg.data.length - 0x4)));
                            var1 = approve((msg.data(0x4) & (SHL(0xA0,0x1) - 0x1)),msg.data(0x24));
                            goto label_00000274;
                        }

                        //ISSUE:COMMENT: Function transferAndCall()
                        else if ((0x1296EE62 == var0)) 
                        {
                            require((0x40 < (msg.data.length - 0x4)));
                            var1 = transferAndCall((msg.data(0x4) & (SHL(0xA0,0x1) - 0x1)),msg.data(0x24));
                            goto label_00000274;
                        }
                        else
                        {
                            goto label_00000248;
                        }
                    }

                    //ISSUE:COMMENT: Function totalSupply()
                    else if ((0x18160DDD == var0)) 
                    {
                        var1 = totalSupply();
label_0000036D:
                        mstore(0x80,var1);
                        RETURN(0x80,0x20);
                    }

                    //ISSUE:COMMENT: Function gasprice_bit_ether()
                    else if ((0x23B872DD == var0)) 
                    {
                        require((0x60 < (msg.data.length - 0x4)));
                        var1 = gasprice_bit_ether(((SHL(0xA0,0x1) - 0x1) & msg.data(0x4)),((SHL(0xA0,0x1) - 0x1) & msg.data(0x24)),msg.data(0x44));
                        goto label_00000274;
                    }

                    //ISSUE:COMMENT: Function FUNC_2AB6F8DB()
                    else if ((0x2AB6F8DB == var0)) 
                    {
                        FUNC_2AB6F8DB();
label_000003BD:
                        stop();
                    }

                    //ISSUE:COMMENT: Function removeMinter()
                    else if ((0x3092AFD5 == var0)) 
                    {
                        require((0x20 < (msg.data.length - 0x4)));
                        removeMinter(((SHL(0xA0,0x1) - 0x1) & msg.data(0x4)));
                        goto label_000003BD;
                    }

                    //ISSUE:COMMENT: Function decimals()
                    else if ((0x313CE567 == var0)) 
                    {
                        var1 = decimals();
                        mstore(0x80,uint8(var1));
                        RETURN(0x80,0x20);
                    }
                    else
                    {
                        goto label_00000248;
                    }
                }
                else if ((0x42966C68 > var0)) 
                {

                    //ISSUE:COMMENT: Function approveAndCall()
                    if ((0x3177029F == var0)) 
                    {
                        require((0x40 < (msg.data.length - 0x4)));
                        var1 = approveAndCall((msg.data(0x4) & (SHL(0xA0,0x1) - 0x1)),msg.data(0x24));
                        goto label_00000274;
                    }

                    //ISSUE:COMMENT: Function cap()
                    else if ((0x355274EA == var0)) 
                    {
                        var1 = cap();
                        goto label_0000036D;
                    }

                    //ISSUE:COMMENT: Function increaseAllowance()
                    else if ((0x39509351 == var0)) 
                    {
                        require((0x40 < (msg.data.length - 0x4)));
                        var1 = increaseAllowance((msg.data(0x4) & (SHL(0xA0,0x1) - 0x1)),msg.data(0x24));
                        goto label_00000274;
                    }

                    //ISSUE:COMMENT: Function transferAndCall()
                    else if ((0x4000AEA0 == var0)) 
                    {
                        require((0x60 < (msg.data.length - 0x4)));
                        var2 = (msg.data(0x4) & (SHL(0xA0,0x1) - 0x1));
                        var3 = msg.data(0x24);
                        var4 = (0x4 + var3);
                        var7 = msg.data(0x44);
                        require((0x100000000 > msg.data(0x44)));
                        var7 = (0x4 + var7);
                        require((var4 > (var7 + 0x20)));
                        var7 = msg.data(var7);
                        var6 = (0x20 + var7);
                        require(!((var7 > 0x100000000) | (((0x20 + var7) + var7) > var4)));
                        mstore(0x40,(0x80 + (0x20 + (((0x1F + var7) / 0x20) * 0x20))));
                        mstore(0x80,var7);
                        calldatacopy(0xA0,var6,var7);
                        mstore((0xA0 + var7),0x0);
                        var4 = 0x80;
                        var6 = many_msg_babbage(var2,var3);
                        require(var6);
                        var6 = func_000014CD(msg.sender,var2,var3,0x80);
label_00000BB6:
                        require(var6);
                        var1 = 0x1;
                        goto label_00000274;
                    }

                    //ISSUE:COMMENT: Function mint()
                    else if ((0x40C10F19 == var0)) 
                    {
                        require((0x40 < (msg.data.length - 0x4)));
                        var1 = mint((msg.data(0x4) & (SHL(0xA0,0x1) - 0x1)),msg.data(0x24));
                        goto label_00000274;
                    }
                    else
                    {
                        goto label_00000248;
                    }
                }

                //ISSUE:COMMENT: Function collate_propagate_storage()
                else if ((0x42966C68 == var0)) 
                {
                    require((0x20 < (msg.data.length - 0x4)));
                    collate_propagate_storage(msg.data(0x4));
                    goto label_000003BD;
                }

                //ISSUE:COMMENT: Function transferEnabled()
                else if ((0x4CD412D5 == var0)) 
                {
                    var1 = transferEnabled();
                    goto label_00000274;
                }

                //ISSUE:COMMENT: Function isOperator()
                else if ((0x6D70F7AE == var0)) 
                {
                    require((0x20 < (msg.data.length - 0x4)));
                    var1 = isOperator(((SHL(0xA0,0x1) - 0x1) & msg.data(0x4)));
                    goto label_00000274;
                }

                //ISSUE:COMMENT: Function balanceOf()
                else if ((0x70A08231 == var0)) 
                {
                    require((0x20 < (msg.data.length - 0x4)));
                    var1 = balanceOf(((SHL(0xA0,0x1) - 0x1) & msg.data(0x4)));
                    goto label_0000036D;
                }

                //ISSUE:COMMENT: Function renounceOwnership()
                else if ((0x715018A6 == var0)) 
                {
                    renounceOwnership();
                    goto label_000003BD;
                }
                else
                {
                    goto label_00000248;
                }
            }
            else if ((0xA9059CBB > var0)) 
            {
                if ((0x95D89B41 > var0)) 
                {

                    //ISSUE:COMMENT: Function burnFrom()
                    if ((0x79CC6790 == var0)) 
                    {
                        require((0x40 < (msg.data.length - 0x4)));
                        burnFrom((msg.data(0x4) & (SHL(0xA0,0x1) - 0x1)),msg.data(0x24));
                        goto label_000003BD;
                    }

                    //ISSUE:COMMENT: Function finishMinting()
                    else if ((0x7D64BCB4 == var0)) 
                    {
                        finishMinting();
                        goto label_000003BD;
                    }

                    //ISSUE:COMMENT: Function FUNC_8980F11F()
                    else if ((0x8980F11F == var0)) 
                    {
                        require((0x40 < (msg.data.length - 0x4)));
                        FUNC_8980F11F((msg.data(0x4) & (SHL(0xA0,0x1) - 0x1)),msg.data(0x24));
                        goto label_000003BD;
                    }

                    //ISSUE:COMMENT: Function owner()
                    else if ((0x8DA5CB5B == var0)) 
                    {
                        var1 = owner();
                        mstore(0x80,(var1 & (SHL(0xA0,0x1) - 0x1)));
                        RETURN(0x80,0x20);
                    }

                    //ISSUE:COMMENT: Function isOwner()
                    else if ((0x8F32D59B == var0)) 
                    {
                        var1 = isOwner();
                        goto label_00000274;
                    }
                    else
                    {
                        goto label_00000248;
                    }
                }

                //ISSUE:COMMENT: Function symbol()
                else if ((0x95D89B41 == var0)) 
                {
                    (var0,var1) = symbol();
                    goto label_00000298;
                }

                //ISSUE:COMMENT: Function addMinter()
                else if ((0x983B2D56 == var0)) 
                {
                    require((0x20 < (msg.data.length - 0x4)));
                    addMinter(((SHL(0xA0,0x1) - 0x1) & msg.data(0x4)));
                    goto label_000003BD;
                }

                //ISSUE:COMMENT: Function renounceMinter()
                else if ((0x98650275 == var0)) 
                {
                    renounceMinter();
                    goto label_000003BD;
                }

                //ISSUE:COMMENT: Function addOperator()
                else if ((0x9870D7FE == var0)) 
                {
                    require((0x20 < (msg.data.length - 0x4)));
                    addOperator(((SHL(0xA0,0x1) - 0x1) & msg.data(0x4)));
                    goto label_000003BD;
                }

                //ISSUE:COMMENT: Function decreaseAllowance()
                else if ((0xA457C2D7 == var0)) 
                {
                    require((0x40 < (msg.data.length - 0x4)));
                    var1 = decreaseAllowance((msg.data(0x4) & (SHL(0xA0,0x1) - 0x1)),msg.data(0x24));
                    goto label_00000274;
                }
                else
                {
                    goto label_00000248;
                }
            }
            else if ((0xCAE9CA51 > var0)) 
            {

                //ISSUE:COMMENT: Function many_msg_babbage()
                if ((0xA9059CBB == var0)) 
                {
                    require((0x40 < (msg.data.length - 0x4)));
                    var1 = many_msg_babbage((msg.data(0x4) & (SHL(0xA0,0x1) - 0x1)),msg.data(0x24));
                    goto label_00000274;
                }

                //ISSUE:COMMENT: Function isMinter()
                else if ((0xAA271E1A == var0)) 
                {
                    require((0x20 < (msg.data.length - 0x4)));
                    var1 = isMinter(((SHL(0xA0,0x1) - 0x1) & msg.data(0x4)));
                    goto label_00000274;
                }

                //ISSUE:COMMENT: Function removeOperator()
                else if ((0xAC8A584A == var0)) 
                {
                    require((0x20 < (msg.data.length - 0x4)));
                    removeOperator(((SHL(0xA0,0x1) - 0x1) & msg.data(0x4)));
                    goto label_000003BD;
                }

                //ISSUE:COMMENT: Function builtOn()
                else if ((0xB60B7084 == var0)) 
                {
                    (var1,var2) = builtOn();
                    goto label_00000298;
                }

                //ISSUE:COMMENT: Function transferFromAndCall()
                else if ((0xC1D34B89 == var0)) 
                {
                    require((0x80 < (msg.data.length - 0x4)));
                    var2 = ((SHL(0xA0,0x1) - 0x1) & msg.data(0x4));
                    var3 = ((SHL(0xA0,0x1) - 0x1) & msg.data(0x24));
                    var4 = msg.data(0x44);
                    var5 = (0x4 + var3);
                    var8 = msg.data(0x64);
                    require((0x100000000 > msg.data(0x64)));
                    var8 = (0x4 + var8);
                    require((var5 > (var8 + 0x20)));
                    var8 = msg.data(var8);
                    var7 = (0x20 + var8);
                    require(!((var8 > 0x100000000) | (((0x20 + var8) + var8) > var5)));
                    mstore(0x40,(0x80 + (0x20 + (((0x1F + var8) / 0x20) * 0x20))));
                    mstore(0x80,var8);
                    calldatacopy(0xA0,var7,var8);
                    mstore((0xA0 + var8),0x0);
                    var1 = transferFromAndCall(var2,var3,var4,0x80);
                    goto label_00000274;
                }
                else
                {
                    goto label_00000248;
                }
            }

            //ISSUE:COMMENT: Function approveAndCall()
            else if ((0xCAE9CA51 == var0)) 
            {
                var1 = 0x274;
                require((0x60 < (msg.data.length - 0x4)));
                var2 = (msg.data(0x4) & (SHL(0xA0,0x1) - 0x1));
                var3 = msg.data(0x24);
                var4 = (0x4 + var3);
                var7 = msg.data(0x44);
                require((0x100000000 > msg.data(0x44)));
                var7 = (0x4 + var7);
                require((var4 > (var7 + 0x20)));
                var7 = msg.data(var7);
                var6 = (0x20 + var7);
                require(!((var7 > 0x100000000) | (((0x20 + var7) + var7) > var4)));
                mstore(0x40,(0x80 + (0x20 + (((0x1F + var7) / 0x20) * 0x20))));
                mstore(0x80,var7);
                calldatacopy(0xA0,var6,var7);
                mstore((0xA0 + var7),0x0);
                var6 = approve(var2,var3);
                var6 = 0xBB6;
                var7 = var2;
                var8 = var3;
                var11 = func_00001CCF(((SHL(0xA0,0x1) - 0x1) & var2));
                if (var11) 
                {
                    temp89 = mload(0x40);
                    mstore(temp89,SHL(0xE4,0x7B04A2D));
                    mstore((temp89 + 0x4),msg.sender);
                    mstore((temp89 + 0x24),var8);
                    mstore((temp89 + 0x44),0x60);
                    temp90 = mload(0x80);
                    mstore((temp89 + 0x64),temp90);
                    temp91 = mload(0x80);
                    var12 = (var7 & (SHL(0xA0,0x1) - 0x1));
                    var19 = (0x84 + temp89);
                    var21 = temp91;
                    var22 = temp91;
                    var23 = (0x84 + temp89);
                    var24 = 0xA0;
                    var25 = 0x0;
label_000019BA:
                    if ((var22 < var25)) 
                    {
                        var19 = (var21 + var19);
                        var20 = (0x1F & var21);
                        if ((0x1F & var21)) 
                        {
                            temp95 = mload((var19 - var20));
                            mstore((var19 - var20),(~(EXP(0x100,(0x20 - var20)) - 0x1) & temp95));
                            temp96 = (0x20 + (var19 - var20));
                            var15 = 0x20;
                            var16 = mload(0x40);
                            var17 = (temp96 - var16);
                            var18 = var16;
                            var19 = 0x0;
                            var20 = var12;
                            if (extcodesize(var12)) 
                            {
                                goto label_00001A20;
                            }
                            else
                            {
                                goto label_00001A1C;
                            }
                        }
                        else
                        {
                            var15 = 0x20;
                            var16 = mload(0x40);
                            var17 = (var19 - var16);
                            var18 = var16;
                            var19 = 0x0;
                            var20 = var12;
                            var21 = (extcodesize(var12) == 0);
                            if (extcodesize(var12)) 
                            {
label_00001A20:
                                var15 = var20.call.value(var19)(var18,var17,var16,var15);
                                var15 = (var15 == 0);
                                if (var15) 
                                {
                                    returndatacopy(0x0,0x0,returndatasize);
                                    revert(0x0,returndatasize);
                                }
                                else
                                {
                                    var12 = mload(0x40);
                                    require((0x20 < returndatasize));
                                    temp94 = mload(var12);
                                    var6 = (SHL(0xE4,0x7B04A2D) == (~(SHL(0xE0,0x1) - 0x1) & temp94));
                                    goto label_00000BB6;
                                }
                            }
                            else
                            {
label_00001A1C:
                                revert(0x0,0x0);
                            }
                        }
                    }
                    else
                    {
                        temp98 = mload((var25 + var24));
                        mstore((var25 + var23),temp98);
                        var25 = (0x20 + var25);
                        goto label_000019BA;
                    }
                }
                else
                {
                    var6 = 0x0;
                    goto label_00000BB6;
                }
            }

            //ISSUE:COMMENT: Function transferFromAndCall()
            else if ((0xD8FBE994 == var0)) 
            {
                require((0x60 < (msg.data.length - 0x4)));
                var1 = transferFromAndCall(((SHL(0xA0,0x1) - 0x1) & msg.data(0x4)),((SHL(0xA0,0x1) - 0x1) & msg.data(0x24)),msg.data(0x44));
                goto label_00000274;
            }

            //ISSUE:COMMENT: Function allowance()
            else if ((0xDD62ED3E == var0)) 
            {
                require((0x40 < (msg.data.length - 0x4)));
                var1 = allowance(((SHL(0xA0,0x1) - 0x1) & msg.data(0x4)),(msg.data(0x24) & (SHL(0xA0,0x1) - 0x1)));
                goto label_0000036D;
            }

            //ISSUE:COMMENT: Function enableTransfer()
            else if ((0xF1B50C1D == var0)) 
            {
                enableTransfer();
                goto label_000003BD;
            }

            //ISSUE:COMMENT: Function transferOwnership()
            else if ((0xF2FDE38B == var0)) 
            {
                require((0x20 < (msg.data.length - 0x4)));
                transferOwnership(((SHL(0xA0,0x1) - 0x1) & msg.data(0x4)));
                goto label_000003BD;
            }
            else
            {
                goto label_00000248;
            }
        }
    }

}
